.FavStories h2 {
	text-align: center;
}

.FavStories ul {
	list-style-type: none;
	padding-left: 10px;
}

.FavStories .fav-element {
	padding: 7px;
	border-radius: 4px;
	cursor: pointer;
}

li:hover {
	background-color: #F2F2F2;
}